<!DOCTYPE html>
<html>

<head>
  <title>Superleague Trade Calculator</title>
  <!-- Bootstrap - Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Style overrides -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Superleague Trade Calculator</h1>
  <h3>aka the argument-ender</h3>
  <p></p>
  <form action="">
    <label>Search for an NBA player:</label>
    <input id="playerName" type="search" value="First Last" />
    <input class="nbaSearch" type="button" onclick="getData()" value="Search" />
  </form>
  <br>
  <section class="results">
    <div class="stats">
    </div>
    <div class="pic">
      <div>
  </section>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Main post-load JavaScript -->
<script src="/config/apiKeys.js"></script>
<script src="/javascripts/script.js"></script>

</html>
