<!DOCTYPE html>
<html>

<head>
  <title>Planet API: Music</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Lyrics Analyzer</h1>
  <form id="artistSearch" method="post">
    <label for="aritst">Search for an artist: </label>
    <input id="aritst" type="text" name="aritst1" value="Kendrick Lamar">
    <input type="submit" value="Load Lyrics">
  </form>
  <!-- <input id="resetButton" type="button" value="Reset All"> -->
  <br/>
  <div id="artistsSpotlight">
    <div class="artistBox" id="artistBox0" artistName="allArtists">
      <container class="artistName" id="nameAllAritsts">All Aritsts</container>
      </br>
      <container class="artistPhoto" id="photoAllAritsts"></container>
      <container class="artistWordcount" id="wordCountAllAritsts">0 words</container>
      </br>
      <container class="artistLexicon" id="lexiconAllAritsts">
    </div>
  </div>
</body>
<!-- jQuery -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<!-- D3 minified library -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- Custom JS megafile -->
<script src="../javascripts/lyrics.js"></script>
</html>
