<!DOCTYPE html>
<html>
  <head>
    <title>CORS SUCKS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CORS SUCKS</h1>
    <p></p>
  </body>
  <!-- jQuery -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script src="../javascripts/lyrics.js"></script>
</html>
