<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="../data/ciks.json" rel="data"/>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>

  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- JQ dependant scripts -->
<script src="/javascripts/apiLookup.js"></script>
</html>
