<!DOCTYPE html>
<html>
  <head>
    <title>Lyrics Lookup</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <form id="artistSearch" method="post">
      <label for="aritst">Search an Artist: </label>
      <input id="aritst" type="text" name="aritst" value="Cardi B">
      <input type="submit" value="OK">
</form>
    <h1 id="artistName">Search for an aritst</h1>
    <p id="lyrics"></p>
  </body>
  <!-- jQuery -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="../javascripts/lyricLookup.js"></script>
<script src="../javascripts/wordParser.js"></script>
</html>
